{
    "UserDefined":{
        "Onedrive_Trabajos_path" : "D:\\Onedrive\\Taller\\Trabajos\\<A_UserName>",
        "Downloads" : "C:\\Users\\<A_UserName>\\Downloads"
    },
    "Available Common Keywords(Comment)" : ["<A_DD>", "<A_MM>", "<A_YYYY>", "<A_UserName>", "<A_Desktop>" ,
    "<A_MyDocuments>", "<A_AppData>" , "<A_ComputerName>" , "<A_DDD>", "<A_DDDD>",
    "<A_WDay>", "<A_MMMM>", "<A_Mon>", "<A_MMM>", "<A_YDay>", "<A_YWeek>"
    ],
    "LoadDefault" : 0
}
